.p1{
    width: 7.5rem;
    height: 13.34rem;
    background: #ff8514;
    margin: 0 auto;
    position: relative;
}
.p2{
    width: 7.02rem;
    height: 0.38rem;
    position: absolute;
    left: 0.24rem;
    top: 0.7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.p3{
    width: 0.14rem;
    height: 0.24rem;
    margin-top: 0.08rem;
}
.p3 .p8{
    font-family: iconfont;
    color: white;
    font-size: 0.24rem;
}
.p2 .p4{
    font-size: 0.34rem;
    color: white;
    font-weight: bold;
}
.p5{
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    background: white;
}
.p5 .p9{
    font-family: iconfont;
    color: #ff8514;
    font-size: 0.24rem;
    line-height: 0.38rem;
    margin-left: 0.09rem;
}
.p6{
    width: 7.02rem;
    height: 3.89rem;
    background: white;
    position: absolute;
    top: 1.24rem;
    left: 0.24rem;
}
.p7{
    width: 7.02rem;
    height: 1.94rem;
    position: relative;
    top: 0.01rem;
}
.p10{
    width: 1.44rem;
    height: 1.44rem;
    border-radius: 50%;
    box-shadow: 0 -0.15rem 1rem 0 rgba(181, 174, 174, 0.57);
    position: relative;
    top: 0.36rem;
    left: 0.22rem;
}
.p7 .p11{
    font-size: 0.34rem;
    font-weight: bold;
    color: #838282;
    position: absolute;
    left: 1.98rem;
    top: 0.56rem;
}
.p12{
    width: 1.37rem;
    height: 0.38rem;
    position: relative;
    left: 1.98rem;
    top: -0.15rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.p12 .p13,.p12 .p15{
    width: 0.38rem;
    height: 0.38rem;
    background: #ecbf8b;
    border-radius: 50%;
}
.p13 .p14,.p15 .p16{
    font-size: 0.30rem;
    font-family: iconfont;
    line-height: 0.4rem;
    margin-left: 0.03rem;
    color: #ef854a;
}
.p12 p{
    font-size: 0.24rem;
    color: #838282;
}
.p17{
    font-size: 0.32rem;
    color: #838282;
    position: absolute;
    top: 1.27rem;
    left: 4.16rem;
}
.p18{
    font-size: 0.32rem;
    color: #ef854a;
    position: absolute;
    top: 1.27rem;
    left: 4.7rem;
}
.p19{
    width: 0.05rem;
    height: 0.65rem;
    position: absolute;
    left: 5.71rem;
    top: 1.12rem;
}
.p20{
    font-size: 0.32rem;
    color: #ef854a;
    position: absolute;
    top: 1rem;
    left: 5.84rem;
}
.p21{
    font-size: 0.32rem;
    color: #838282;
    position: absolute;
    top: 1.4rem;
    left: 5.84rem;
}
.p22,.p23{
    font-size: 0.34rem;
    font-weight: bold;
    color: white;
    float: left;
    margin-top: 5.43rem;
    margin-left: 0.24rem;
}
.p23{
    margin-top: 5.9rem;
    margin-left: -2rem;
}
.p24{
    font-size: 0.34rem;
    font-weight: bold;
    color: white;
    float: right;
    margin-top: 5.43rem;
    margin-right: 0.24rem;
}
.p25{
    font-size: 0.34rem;
    font-weight: bold;
    color: white;
    float: right;
    margin-top: 5.9rem;
    margin-right: -0.6rem;
}
.p26{
    width: 7.02rem;
    height: 7rem;
    background: white;
    float: left;
    margin: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.p27{
    width: 7.02rem;
    height: 0.9rem;
    position: relative;
}
.p27 .p30{
    float: left;
    margin-top: 0.34rem;
    margin-left: 0.14rem;
}
.p27 .p28{
    display: block;
    font-size: 0.22rem;
    color: #838282;
    float: left;
    margin-top: 0.26rem;
}
.p27 .p29{
    display: block;
    font-size: 0.18rem;
    color: #ff8514;
    position: absolute;
    left: 0.32rem;
    top: 0.56rem;
}
.p27 .p31{
    width: 3.5rem;
    height: 0.02rem;
    position: absolute;
    left: 1.76rem;
    top: 1rem;
}
.p37 .p32{
    width: 1.67rem;
    height: 0.5rem;
    background: #f4710f;
    border-radius: 0.25rem;
    border: 0.2em solid #f7b146;
    margin: -0.1rem auto 0;
}
.p33{
    width: 1.56rem;
    height: 0.5rem;
    background: #f4710f;
    border-radius: 0.25rem;
    border: 0.2em solid #f7b146;
    position: absolute;
    left: 5.18rem;
    top: 0.2rem;
}
.p33 p{
    font-size: 0.24rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 0.4rem;
}
.p34{
    width: 1.56rem;
    height: 0.5rem;
    background: white;
    border-radius: 0.25rem;
    border: 0.2em solid #aaaaaa;
    position: absolute;
    left: 5.18rem;
    top: 0.2rem;
}
.p34 p{
    font-size: 0.24rem;
    color: #ff8514;
    font-weight: bold;
    text-align: center;
    line-height: 0.4rem;
}
.p35{
    width: 0.37rem;
    height: 0.37rem;
    background: #ff8514;
    border-radius: 50%;
    position: absolute;
    left: 6.36rem;
    top: 0.2rem;
}
.p35 i{
    font-family: iconfont;
    font-size: 0.24rem;
    color: #aaaaaa;
    margin-left: 0.05rem;
}
.p36{
    width: 2.1rem;
    height: 0.17rem;
    position: absolute;
    left: 4.6rem;
    top: 0.3rem;
}
.p36 p{
    font-size: 0.18rem;
}
.p37{
    width: 7.02rem;
    height: 0.5rem;
}
.p32 p{
    font-size: 0.24rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 0.4rem;
}